################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/luana-web-api/.vs/luana-web-api/FileContentIndex
